body{
    margin: 0;
}
#navbarContainer{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 245px;
    height: 100%;
    background-color: black;
}
#navbar{
    text-align: left;
}
#companylogoContainer{
    margin: 10% 5% 20% 5%;
    text-align: center;
}
#companylogo{
    max-width: 150px;
}
.navbar-menu{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.navbar-menu a{
    text-decoration: none;
}
.navbar-menu:hover{
    background-color: #2e2e2e;
}
.inlineContent{
    display: inline;
}
.icon-navbar{
    width: 25px;
}
.text-navbar{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
    color: white;
    vertical-align: 5.5px;
}
#logoutContainer{
    position: absolute;
    width: 235px;
    left: 0;
    bottom: 0;
}
#guidelinesContainer{
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 5px;
    text-align: justify;
}
#guidelinesContent{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
}
.guidelines-content{
    background-color: #fffbfb;
    border-radius: 3px;
    padding: 25px;
}
.guidelines-procedure li{
    margin-left: 45px;
}
#guidelinesOne{
    margin-top: 65px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#guidelinesTwo{
    margin-top: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#accountContainer{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 100%;
    text-align: right;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#accountContent{
    padding: 1px;
    padding-right: 10px;
}
.inline-user{
    display: inline;
}
.user-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 9pt;
    vertical-align: 10px;
}
.user-text:hover{
    opacity: 0.6;
    cursor: pointer;
}
.user-hypen{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    vertical-align: 10px;
}
#user-icon{
    width: 30px;
}
#user-icon:hover{
    opacity: 0.6;
    cursor: pointer;
}