body{
    margin: 0;
}
#navbarContainer{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 245px;
    height: 100%;
    background-color: black;
}
#navbar{
    text-align: left;
}
#companylogoContainer{
    margin: 10% 5% 20% 5%;
    text-align: center;
}
#companylogo{
    max-width: 150px;
}
.navbar-menu{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.navbar-menu a{
    text-decoration: none;
}
.navbar-menu:hover{
    background-color: #2e2e2e;
}
.inlineContent{
    display: inline;
}
.icon-navbar{
    width: 25px;
}
.text-navbar{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
    color: white;
    vertical-align: 5.5px;
}
#logoutContainer{
    position: absolute;
    width: 235px;
    left: 0;
    bottom: 0;
}
#accountContainer{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 100%;
    text-align: right;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#accountContent{
    padding: 1px;
    padding-right: 10px;
}
.inline-user{
    display: inline;
}
.user-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 9pt;
    vertical-align: 10px;
}
.user-text:hover{
    opacity: 0.6;
    cursor: pointer;
}
.user-hypen{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    vertical-align: 10px;
}
#user-icon{
    width: 30px;
}
#user-icon:hover{
    opacity: 0.6;
    cursor: pointer;
}
#requestbudgethistoryContainer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 9pt;
    text-align: center;
    margin-left: 280px;
    margin-top: 75px;
    background-color: #fffbfb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1050px;
    border-radius: 5px;
}
#requestbudgethistory{
    padding: 25px;
}
#requestbudgethistory>table>thead>tr>th{
    background-color: #2e2e2e;
    color: white;
    padding: 5px;
    width: 125px;
}
#requestbudgethistory>table>tbody>tr>td{
    padding: 5px;
    width: 125px;
}
.icon-table{
    width: 35px;
}
#requestbudgethistory>table>tbody>tr>#reasonTab{
    width: 450px;
    text-align: left;
}
#cancelSubmit{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(59, 54, 54, 0);
}
#cancelSubmit:hover{
    opacity: 0.6;
    cursor: pointer;
}
#deleteSubmit{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(59, 54, 54, 0);
}
#deleteSubmit:hover{
    opacity: 0.6;
    cursor: pointer;
}
#loanhistoryContainer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 9pt;
    text-align: center;
    margin-left: 280px;
    margin-top: 75px;
    margin-bottom: 30px;
    background-color: #fffbfb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1050px;
    border-radius: 5px;
}
#loanhistory{
    padding: 25px;
}
#loanhistory>table>thead>tr>th{
    background-color: #2e2e2e;
    color: white;
    padding: 5px;
    width: 125px;
}
#loanhistory>table>tbody>tr>td{
    padding: 5px;
    width: 125px;
}
#loanhistory>table>tbody>tr>#reasonTabl{
    width: 450px;
    text-align: left;
}
#cancelSubmitl{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(59, 54, 54, 0);
}
#cancelSubmitl:hover{
    opacity: 0.6;
    cursor: pointer;
}
#deleteSubmitl{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(59, 54, 54, 0);
}
#deleteSubmitl:hover{
    opacity: 0.6;
    cursor: pointer;
}
#printSubmitl{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(59, 54, 54, 0);
}
#printSubmitl:hover{
    opacity: 0.6;
    cursor: pointer;
}
#printSubmit{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(59, 54, 54, 0);
}
#printSubmit:hover{
    opacity: 0.6;
    cursor: pointer;
}